services:
  docker-ps8:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        WWW_UID: ${WWW_UID:-1000}
        WWW_GID: ${WWW_GID:-1000}
    container_name: ps8-dev
    tty: true
    stdin_open: true
    networks:
      - proxy-network
    environment:
      - PHP_IDE_CONFIG=serverName=VSCODE
      - XDEBUG_MODE=debug,develop
      - XDEBUG_CONFIG=client_host=host.docker.internal client_port=9001
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /home/massimiliano/docker/apache/ps8/www:/var/www/html:rw
      - ./php.ini:/usr/local/etc/php/conf.d/99-custom.ini:ro
      - ./xdebug.ini:/usr/local/etc/php/conf.d/99-xdebug.ini:ro
    mem_limit: 4g
    restart: unless-stopped

  docker-ps8-nginx:
    image: nginx:alpine
    container_name: ps8-dev-nginx
    depends_on:
      - docker-ps8
    networks:
      - proxy-network
    volumes:
      - /home/massimiliano/docker/apache/ps8/www:/var/www/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    mem_limit: 512m
    restart: unless-stopped

networks:
  proxy-network:
    external: true
